<%- layout('layouts/boilerplate')%>
<div class="align-center">
    <h1 class="text-center">Hello There, My name is MTG Pal!</h1>
    <h2 class="text-center">Use the Navbar to check out your collection!</h2>
</div>