
<%- layout('layouts/boilerplate') %>

<div class="d-flex align-items-center gap-3 mb-3">
    <h1 class="mb-0">Your Collection</h1>

    <a href="/cards/new" class="btn btn-primary">
        Add Card
    </a>
</div>

<hr class="border-secondary-subtle mb-4">

<div class="row">
    <% for (let card of cards) { %>
        <div class="col-md-3 mb-4">
            <a href="/cards/<%= card._id %>">
                <img
                    src="<%= card.imageUrl %>"
                    alt="<%= card.name %>"
                    class="img-fluid rounded shadow"
                >
            </a>
        </div>
    <% } %>
</div>