<%- layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Add a Card</h1>
    <div class="col-6 offset-3">
        <form action="/cards" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="card[name]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="manaCost">Mana Cost (Type it like this {W} or {1})</label>
                <input class="form-control" type="text" id="manaCost" name="card[manaCost]">
            </div>
            <div class="mb-3">
                <label class="form-label">Type Line</label>

                <div class="row align-items-center">
                    <div class="col">
                        <input
                            class="form-control"
                            type="text"
                            id="leftType"
                            name="leftType"
                            placeholder="Supertype(s) Cardtype(s)"
                            required
                        >
                    </div>

                    <div class="col-auto">
                        <span>—</span>
                    </div>

                    <div class="col">
                        <input
                            class="form-control"
                            type="text"
                            id="rightType"
                            name="rightType"
                            placeholder="SubType(s)"
                        >
                    </div>
                </div>

                <div class="form-text">
                    Left side: supertypes and card types. Right side: subtypes.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="oracleText">Oracle Text</label>

                <textarea
                    class="form-control"
                    id="oracleText"
                    name="card[oracleText]"
                    rows="6"
                    
                ></textarea>
            </div>
            <div class="mb-3">
                <label>Colors</label><br>
                <input type="checkbox" name="card[colors]" value="W"> White
                <input type="checkbox" name="card[colors]" value="U"> Blue
                <input type="checkbox" name="card[colors]" value="B"> Black
                <input type="checkbox" name="card[colors]" value="R"> Red
                <input type="checkbox" name="card[colors]" value="G"> Green
            </div>
            <div class="mb-3">
                <label>Colors</label><br>
                <input type="checkbox" name="card[colorIdentity]" value="W"> White
                <input type="checkbox" name="card[colorIdentity]" value="U"> Blue
                <input type="checkbox" name="card[colorIdentity]" value="B"> Black
                <input type="checkbox" name="card[colorIdentity]" value="R"> Red
                <input type="checkbox" name="card[colorIdentity]" value="G"> Green
            </div>
            <div class="mb-3">
                <label class="form-label" for="Rarity">Rarity</label>
                <input class="form-control" type="text" id="Rarity" name="card[Rarity]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="imageUrl">Image URL</label>
                <input class="form-control" type="text" id="imageUrl" name="card[imageUrl]">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Card</button>
            </div>
        </form>
    <a href="/cards">All Cards</a>
    </div>
</div>